<div class="mx-auto" style="width: 50%">
  <h1 class="bg-primary text-center">Special Offers</h1>
</div>
<div class="container">
  <h1 class="d-none d-md-block">Our Products</h1>
  <div class="row">
    <div class="col-sm-3">
      <h5 class="text-hide">Small</h5>
      <div class="row">
        <div class="col-sm-4 bg-info">
          6x5
          <div class="row">
            <div class="col-sm-3 text-muted">R15</div>
            <div class="col-sm-3 text-success">R8</div>
          </div>
        </div>
        <div class="col-sm-4">
          8x10
          <div class="row">
            <div class="col-sm-3 text-muted">R18</div>
            <div class="col-sm-3 text-success">R11</div>
          </div>
        </div>
        <div class="col-sm-4">
          11x17
          <div class="row">
            <div class="row">
              <div class="col-sm-3 text-muted">R25</div>
              <div class="col-sm-3 text-success">R20</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-sm-3">
      <h5 class="text-hide">Medium</h5>
      <div class="row">
        <div class="col-sm-4">
          12x18
          <div class="row">
            <div class="col-sm-3 text-muted">R28</div>
            <div class="col-sm-3 text-success">R23</div>
          </div>
        </div>
        <div class="col-sm-4 bg-info">
          16x20
          <div class="row">
            <div class="col-sm-3 text-muted">R35</div>
            <div class="col-sm-3 text-success">R25</div>
          </div>
        </div>
        <div class="col-sm-4">
          18x24
          <div class="row">
            <div class="col-sm-3 text-muted">R40</div>
            <div class="col-sm-3 text-success">R32</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-3">
      <h5 class="text-hide">Large</h5>
      <div class="row">
        <div class="col-sm-4 bg-info">
          19x27
          <div class="col-sm-3 text-muted">R45</div>
          <div class="col-sm-3 text-success">R30</div>
        </div>
        <div class="col-sm-4">
          20x30
          <div class="row">
            <div class="col-sm-3 text-muted">R48</div>
            <div class="col-sm-3 text-success">R40</div>
          </div>
        </div>
        <div class="col-md-4 bg-info">
          22x28
          <div class="row">
            <div class="col-md-3 text-muted">R55</div>
            <div class="col-sm-3 text-success">R40</div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <h5 class="text-hide">Extra Large</h5>
      <div class="row">
        <div class="col-md-4">
          24x36
          <div class="row">
            <div class="col-md-3 text-muted">R60</div>
            <div class="col-md-3 text-success">R55</div>
          </div>
        </div>
        <div class="col-md-4 bg-info">
          27x39
          <div class="row">
            <div class="col-sm-3 text-muted">R75</div>
            <div class="col-sm-3 text-success">R60</div>
          </div>
        </div>
        <div class="col-md-4 bg-info">
          27x40
          <div class="row">
            <div class="col-sm-3 text-muted">R75</div>
            <div class="col-sm-3 text-success">R60</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-danger">
    <p class="label">Terms and Conditions Apply</p>
  </div>
</div>
