// Custom brand colors
$custom-colors: (
  "primary-100": #f7f7f4,
  "primary-200": #e5e3dc,
  "primary-300": #cbc7b9,
  "primary-400": #b1ab95,
  "primary-500": #978e72,
  "primary-600": #6a634e,
  "primary-700": #5e5845,
  "primary-800": #524d3d,
  "primary-900": #464234,
  "primary-1000": #3b372b,
);

// Merge custom theme
$theme-colors: map-merge($theme-colors, $custom-colors);

// Body Styles
$body-bg: #f7f7f4;
$body-color: #5e5845;

// Basic typography styles
$font-family-base: "Roboto", sans-serif;
$font-size-base: 1.25rem;
$line-height-base: 1.4;
$line-height-sm: 1.2;
// Link styles
$link-color: $primary;
$link-decoration: none;
$link-hover-color: shift-color($link-color, $link-shade-percentage);
$link-hover-decoration: underline;

//heading
$h1-font-size: $h1-font-size + 0.25rem;
$h2-font-size: $h2-font-size - 0.25rem;
$h3-font-size: $h3-font-size - 0.25rem;
$h4-font-size: $h4-font-size - 0.25rem;
$h5-font-size: $h5-font-size - 0.25rem;
$h6-font-size: $h6-font-size - 0.25rem;
$headings-font-weight: $font-weight-bold;
$headings-line-height: $line-height-sm;
$headings-margin-bottom: $spacer * 0.25;

// Display styles
$display-font-sizes: (
  1: $h1-font-size + 1.25,
  2: $h2-font-size + 1.25,
  3: $h3-font-size + 1.25,
  4: $h4-font-size + 1.25,
  5: $h5-font-size + 1.25,
  6: $h6-font-size + 1.25,
);

$display-font-weight: $font-weight-light;
$display-line-height: $headings-line-height;
