{{ define "main" }}
{{ .Content }}
<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Mollitia non iure accusantium illum neque facilis beatae. Expedita, quae. Officia molestias dolore deserunt sit corporis excepturi fugiat, alias dignissimos. Odit, pariatur. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo exercitationem vero a molestiae, et voluptatem? Omnis voluptatum eos amet odit nobis asperiores a nam expedita voluptate! Cum delectus quidem consequuntur?</p>
{{ end }}