<div class='mt-5 container-fluid bg-primary bg-gradient text-white' style="min-height: 12rem;">
  <div class='row pt-4 text-center'>
      <div class='col-lg-4 col-md-4 col-sm-12'>
          <h5>Quick Links</h5>
          <div class='d-flex flex-column mb-2'>
              <a href="#" class='text-white p-1'>About us</a>
              <a href="#" class='text-white p-1'>Our Posts</a>
              <a href="#" class='text-white p-1'>Our Team</a>
              <a href="#" class='text-white p-1'>Contact us</a>
          </div>
      </div>
      <div class='col-lg-4 col-md-4 col-sm-12 mb-2'>
          <h5>Newsletter</h5>
          <div style="min-height: 8rem;" class='d-flex flex-column justify-content-around'>
              <input type="text" class="form-control" placeholder='Subscribe to the newsletter' />
              <button class='btn btn-warning'>Subscribe</button>
          </div>
      </div>
      <div class='col-lg-4 col-md-4 col-sm-12'>
          <h5>Contact Adrress</h5>
          <div class='d-flex flex-column'>
              <p><i class="px-1 fa-solid fa-location-arrow"></i> 26 Huston Street</p>
              <p>Newton City</p>
              <p>Random State - 756767</p>
          </div>
      </div>
  </div>
</div>