<div class="container mt-5 pt-5">
<ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="#">Weekly AD</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Find Stores</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Orders</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled">More</a>
    </li>
  </ul>
  </div>
<div id="main-feature" class="container">
  
  <div class="card bg-dark text-white">
    <img src="/images/1600x900.png" alt="Feature" />
    <div class="card-img-overlay">
      <h5 class="card-title">Card Title</h5>
      <p class="card-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias sit
        saepe quas perferendis debitis nulla rerum eaque culpa ad quidem
        maiores, molestiae tempora possimus esse aliquid iste numquam natus in.
      </p>
      <p class="card-text">Lorem ipsum dolor sit</p>
    </div>
  </div>
  <div class="row m-2">
    <div class="col-sm-6">
      <div class="card">
        <img src="/images/400x300.png" />
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <img src="/images/400x300.png" />
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
  <div class="row m-2">
    <div class="col-sm-6">
      <div class="card">
        <img src="/images/400x300.png" />
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <img src="/images/400x300.png" />
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">
            With supporting text below as a natural lead-in to additional
            content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
    </div>
  </div>
</div>
