<div>
  <section class="hero-section">
    <div
      id="carouselExampleCaptions"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-indicators">
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="0"
          class="active"
          aria-current="true"
          aria-label="Slide 1"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="1"
          aria-current="true"
          aria-label="Slide 2"
        ></button>
        <button
          type="button"
          data-bs-target="#carouselExampleCaptions"
          data-bs-slide-to="3"
          aria-current="true"
          aria-label="Slide 3"
        ></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/images/800x600.png" class="d-block w-100" alt="..." />
          <div class="carousel-caption d-none d-md-block">
            <h5>First slide label</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Asperiores tempore deserunt consequatur excepturi enim provident
              facere cumque fuga sequi et modi nemo consectetur incidunt numquam
              animi quae laborum, maxime expedita!
            </p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/images/800x600.png" class="d-block w-100" alt="..." />
          <div class="carousel-caption d-none d-md-block">
            <h5>Second slide label</h5>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ab
              possimus accusantium delectus, doloremque numquam repudiandae
              adipisci optio illum corporis ullam mollitia iste reiciendis
              cumque ipsum dolores nulla fugit modi rem.
            </p>
          </div>
        </div>
        <div class="carousel-item">
          <img src="/images/800x600.png" class="d-block w-100" alt="..." />
          <div class="carousel-caption d-none d-md-block">
            <h5>Third slide label</h5>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia
              quibusdam nesciunt consequatur voluptates autem ex, vitae vero,
              possimus, fugiat fugit enim quos ullam aspernatur dolor dolorum
              aut? Saepe, vitae quae?
            </p>
          </div>
        </div>
      </div>
      <button
        class="carousel-control-prev"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="prev"
      >
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button
        class="carousel-control-next"
        type="button"
        data-bs-target="#carouselExampleCaptions"
        data-bs-slide="next"
      >
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </section>
  <section class="featured-posts container pt-2">
    <h3 class="text-center text-uppercase py-4">Featured Posts</h3>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card">
          <img src="/images/400x300.png" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Lorem ipsum dolor sit amet consectetur adipisicing elit.
              Consectetur ea iste a corrupti doloribus natus reprehenderit dicta
              consequatur. Deleniti ea vitae dicta cupiditate cum perferendis
              facere quod quam perspiciatis libero!
            </p>
            <div class="d-grid">
              <a href="#" class="btn btn-warning">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card">
          <img src="/images/400x300.png" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim
              repudiandae esse sunt nam tenetur sit! Repudiandae illum maxime
              vero reiciendis repellat laborum facilis voluptas corrupti
              provident, officia placeat deleniti sequi?
            </p>
            <div class="d-grid">
              <a href="#" class="btn btn-warning">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card">
          <img src="/images/400x300.png" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim
              repudiandae esse sunt nam tenetur sit! Repudiandae illum maxime
              vero reiciendis repellat laborum facilis voluptas corrupti
              provident, officia placeat deleniti sequi?
            </p>
            <div class="d-grid">
              <a href="#" class="btn btn-warning">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="latest-posts container pt-2">
    <h3 class="text-center text-uppercase py-4">Latest Posts</h3>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card">
          <img src="/images/400x300.png" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim
              repudiandae esse sunt nam tenetur sit! Repudiandae illum maxime
              vero reiciendis repellat laborum facilis voluptas corrupti
              provident, officia placeat deleniti sequi?
            </p>
            <div class="d-grid">
              <a href="#" class="btn btn-warning">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card">
          <img src="/images/400x300.png" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim
              repudiandae esse sunt nam tenetur sit! Repudiandae illum maxime
              vero reiciendis repellat laborum facilis voluptas corrupti
              provident, officia placeat deleniti sequi?
            </p>
            <div class="d-grid">
              <a href="#" class="btn btn-warning">Read More</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-4 col-sm-12">
        <div class="card">
          <img src="/images/400x300.png" class="card-img-top" alt="..." />
          <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Enim
              repudiandae esse sunt nam tenetur sit! Repudiandae illum maxime
              vero reiciendis repellat laborum facilis voluptas corrupti
              provident, officia placeat deleniti sequi?
            </p>
            <div class="d-grid">
              <a href="#" class="btn btn-warning">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section
    class="container-fluid bg-primary bg-gradient mt-4"
    style="min-height: 180px"
  >
    <div class="d-flex flex-column justify-content-center align-items-center">
      <i class="fs-1 text-warning my-3 fa-solid fa-location-dot"></i>
      <h3 class="text-white text-uppercase">We have wide variety of Posts</h3>
      <button class="fw-bold btn btn-warning my-2 text-uppercase">
        View All Posts
      </button>
    </div>
  </section>
  <section class="our-portfolio container">
    <h3 class="text-center text-uppercase py-4">Our Portfolio</h3>
    <div class="container">
      <div class="row g-2">
        <div class="col-6">
          <div class="p-1 border bg-light">
            <img src="/images/400x300.png" class="card-img-top" alt="..." />
          </div>
        </div>
        <div class="col-6">
          <div class="p-1 border bg-light">
            <img src="/images/400x300.png" class="card-img-top" alt="..." />
          </div>
        </div>
        <div class="col-6">
          <div class="p-1 border bg-light">
            <img src="/images/400x300.png" class="card-img-top" alt="..." />
          </div>
        </div>
        <div class="col-6">
          <div class="p-1 border bg-light">
            <img src="/images/400x300.png" class="card-img-top" alt="..." />
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
